<div class="page-header">
  <h3 class="page-title">
    Run Model
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Select AlertType ID</a></li>
      <li class="breadcrumb-item active" aria-current="page">Generate Alerts</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Select the Asset Class</h4>
        <p class="card-description">You can select multiple Asset classes </p>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Equities (EQ)
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked>
                    Options (OPT)
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled>
                    Futures (FUT)
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled checked>
                    Cryptocurreny (Crypto)
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Select the Models</h4>
        <p class="card-description">You can select multiple models for EQ</p>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    EQ | Id: 4 | Wash Trades Intent
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked>
                    EQ | Id: 1 | Spiking
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled>
                    EQ | Id: 2 | Ramping
                    <i class="input-helper"></i>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled checked>
                    EQ | Id: 5 | Painting the Tape
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">File Upload</h4>
        <p class="card-description">
          Upload your Transaction File in either of the format - JSON, CSV
        </p>
        <div class="form-group">
          <div class="input-group">
            <div ngbDropdown class="input-group-prepend">
              <button ngbDropdownToggle class="btn btn-sm btn-outline-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transaction</button>
              <div ngbDropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Order</a>
                <a class="dropdown-item">Executions</a>
                <a class="dropdown-item">Trades</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item">Separated link</a>
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Select your File" aria-label="Recipient's username">
            <div class="input-group-append">
              <button type="button">
                <h4><i [innerText]="'Submit'"></i></h4>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Alert Notifications</h4>
        <div class="alert alert-success" role="alert">
          Alert Class: EQ | Id: 4 | Isin: ISIN_601010 | Model: Wash Trades Intent
        </div>
        <div class="alert alert-success" role="alert">
          Alert Class: EQ | Id: 4 | Isin: ISIN_601011 | Model: Wash Trades Intent
        </div>
        <div class="alert alert-success" role="alert">
          Alert Class: EQ | Id: 4 | Isin: ISIN_601012 | Model: Wash Trades Intent
        </div>
        <div class="alert alert-success" role="alert">
          Alert Class: EQ | Id: 4 | Isin: ISIN_601013 | Model: Wash Trades Intent
        </div>
        <div class="alert alert-success" role="alert">
          Alert Class: EQ | Id: 4 | Isin: ISIN_601014 | Model: Wash Trades Intent
        </div>
        <div class="alert alert-primary" role="alert">
          Alert Class: EQ | Id: 24 | Isin: ISIN_601010 | Model: VWAP Breach
          </div>
        <div class="alert alert-primary" role="alert">
          Alert Class: EQ | Id: 24 | Isin: ISIN_601011 | Model: VWAP Breach
          </div>
        <div class="alert alert-primary" role="alert">
          Alert Class: EQ | Id: 24 | Isin: ISIN_601012 | Model: VWAP Breach
          </div>
        <div class="alert alert-primary" role="alert">
          Alert Class: EQ | Id: 24 | Isin: ISIN_601013 | Model: VWAP Breach
          </div>
        <div class="alert alert-primary" role="alert">
          Alert Class: EQ | Id: 24 | Isin: ISIN_601014 | Model: VWAP Breach
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Flag your Alerts</h4>
        <p class="card-description">
          Mark your Alerts as Read/Important
        </p>
        <div class="card card-inverse-secondary mb-5">
          <div class="card-body">
            <p class="mb-4">
              Well done! You successfully read this important alert message.
            </p>
            <button class="btn btn-secondary d-block d-sm-inline mx-auto">Ok</button>
            <button class="btn btn-light d-block d-sm-inline mx-auto mt-2 mt-sm-0 ml-sm-1">Cancel</button>
          </div>
        </div>
        <div class="card card-inverse-info">
          <div class="card-body">
            <p class="mb-4">
              Heads up! This alert needs your attention, but it's not super important.
            </p>
            <button class="btn btn-info d-block d-sm-inline mx-auto">Ok</button>
            <button class="btn btn-light d-block d-sm-inline mx-auto mt-2 mt-sm-0 ml-sm-1">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Manual WebApp Alert</h4>
        <p class="card-description">Create simple desktop alert</p>
        <form>
          <div class="form-group">
            <label for="title">Alert Type Id</label>
            <input type="text" class="form-control" id="title" placeholder="Write some title here" value="alert type id" required>
            <label class="mt-4" for="message">Alert Details</label>
            <textarea placeholder="Write some message here" id="message" class="form-control" required>alert details i.e. client, news, problem</textarea>
          </div>
          <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish</button>
        </form>
      </div>
    </div>
  </div>
</div>