<div class="d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <div class="brand-logo">
            <img src="assets/images/nicelogo.png" alt="logo" width="100" height="100">
          </div>
          <h4>Welcome to NICE Analytics Solution</h4>
          <h6 class="font-weight-light">Sign in to continue</h6>
          <form class="pt-3">
            <div class="form-group py-2">
              <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
            </div>
            <div class="form-group py-2">
              <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="mt-3 text-center">
              <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" routerLink="/dashboard">SIGN IN</a>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-helper"></i>
                  Keep me signed in
                </label>
              </div>
              <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
            </div>
            <div class="text-center mt-4 font-weight-light">
              Don't have an account? <a routerLink="/register" class="text-primary">Create</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 