.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-field * {
    display: block;
}

.p-button.p-button-sm {
    padding: 0.5rem 0.8rem;
}

.auth .auth-form-light {
    background: #fff;
}

.btn-lg {
    padding: 1rem 3rem;
    line-height: 1.3;
    margin-right: 3px;
    font-size: .875rem;
    display: block;
    width: 100%;
    border-radius: 0.2rem;
}