<div class="container-scroller">
  <app-navbar *ngIf="showNavbar"></app-navbar>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar *ngIf="showSidebar"></app-sidebar>
      <div class="main-panel main-panel-only w-100" [ngClass]="{ 'main-panel-only' : !showSidebar }">
        <div class="content-wrapper">
          <div contentAnimate class="h-100">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>