.main-panel.main-panel-only {
    transition: none;
}

.main-panel {
    transition: width .25s ease,margin .25s ease;
    width: calc(100% - 260px);
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    flex-grow: 1;
}