@import '../../styles.scss';

.rounded-legend {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style-type: none;
      font-size: .75rem;
      .legend-dots {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: .5rem;
        .rtl & {
          margin-left: .5rem;
        }
      }
    }
  }
  &.legend-horizontal {
    ul {
      li {
        display: inline-block;
        margin-right: 1.5rem;
        .rtl & {
          margin-right: auto;
          margin-left: 1.5rem;
        }
      }
    }
  }
  &.legend-vertical {
    ul {
      li {
        margin-top: 1rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

#visit-sale-chart-legend {
  ul {
    li {
      &:nth-child(1) {
        .legend-dots {
          background: linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1));
        }
      }
      &:nth-child(2) {
        .legend-dots {
          background: linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1));
        }
      }
      &:nth-child(3) {
        .legend-dots {
          background:linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))
        }
      }
    }
  }
}

#traffic-chart-legend {
  ul {
    li {
      &:nth-child(1) {
        .legend-dots {
          background:linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))
        }
      }
      &:nth-child(2) {
        .legend-dots {
          background:linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1));
        }
      }
      &:nth-child(3) {
        .legend-dots {
          background:linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1));
        }
      }
    }
  }
}

.mdi-home:before {
  content: "\F02DC";
  display: inline-block;
  font: normal normal normal 24px/1 Material Design Icons;
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.page-title-icon {
  display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 3px 8.3px 0.7px rgb(163 93 255 / 35%);
    background: linear-gradient(90deg,#da8cff,#9a55ff);
}

.card.card-img-holder[_ngcontent-fpx-c16] .card-img-absolute[_ngcontent-fpx-c16] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.pills-vertical[_ngcontent-tty-c16], .row[_ngcontent-tty-c16], .tab-vertical[_ngcontent-tty-c16], .tab-vertical-custom[_ngcontent-tty-c16] {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.btn[_ngcontent-tty-c16], .btn-group.open[_ngcontent-tty-c16] .dropdown-toggle[_ngcontent-tty-c16], .btn[_ngcontent-tty-c16]:active, .btn[_ngcontent-tty-c16]:focus, .btn[_ngcontent-tty-c16]:hover, .btn[_ngcontent-uwp-c66]:visited, a[_ngcontent-uwp-c66], a[_ngcontent-uwp-c66]:active, a[_ngcontent-uwp-c66]:checked, a[_ngcontent-uwp-c66]:focus, a[_ngcontent-uwp-c66]:hover, a[_ngcontent-uwp-c66]:visited, body[_ngcontent-uwp-c66], button[_ngcontent-uwp-c66], button[_ngcontent-uwp-c66]:active, button[_ngcontent-uwp-c66]:hover, button[_ngcontent-uwp-c66]:visited, div[_ngcontent-uwp-c66], input[_ngcontent-uwp-c66], input[_ngcontent-uwp-c66]:active, input[_ngcontent-uwp-c66]:focus, input[_ngcontent-uwp-c66]:hover, input[_ngcontent-uwp-c66]:visited, select[_ngcontent-uwp-c66], select[_ngcontent-uwp-c66]:active, select[_ngcontent-uwp-c66]:focus, select[_ngcontent-uwp-c66]:visited, textarea[_ngcontent-uwp-c66], textarea[_ngcontent-uwp-c66]:active, textarea[_ngcontent-uwp-c66]:focus, textarea[_ngcontent-uwp-c66]:hover, textarea[_ngcontent-uwp-c66]:visited {
  box-shadow: none;
}

.stretch-card {
  display: flex;
  align-items: stretch;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  justify-content: stretch;
}